.calendar {
  padding: 12px;
  text-align: center;

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__daysOfWeek{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__body{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  &__day{
    &_weekend{
      color: palevioletred;
    }
    &_today{
      color: green;
    }
    &_neighboringMonth{
      opacity: 0.3;
    }
  }
}
